* {
	color:white;
} 
body {
	background-color: black;
	background-size: 1400px 1000px;
	background-position:center;

}
h2 {
	text-align:center;
	border: 2px dashed white;
	cursor:pointer;
	color:white;
	font-family:'Pacifico', cursive;
	font-size:60px;
}
.indexul {
	list-style:none;
	display:inline-block;
	float:left;
	clear:both;
}
li::before{	
	list-style:none;
	display:inline-block;
	list-style-type: circle;
	color:white;
}
div {
	display:inline-block;	// displays all elements in a single line
	width:200px;
	color:white;
	font-family: 'Work Sans', sans-serif;
}
.indexcontainer{
	display:inline-block;	// displays all elements in a single line
	padding:5px 20px;
	width:200px;
	height:55px;
}
a {
	text-decoration:none;
	font-family:'Pacifico', cursive;
	font-size: 30px;
}
p {
	color:white;
}
footer {
	clear:both;
	text-align:left;
}
.footerlink {
	font-size:20px;
	color:purple;
}
table, tr {
	text-align:center;
	font-family: 'Work Sans', sans-serif;
	border: 1px solid white;
	height:100%;
	width:60%;
}
#link {
	font-size:15px;
	font-family: 'Work Sans', sans-serif;
}