body,
html { 
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url("files/images/home.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
	text-align: right;
}
.btn {
	font-weight:700px;
	border-radius:300px;	/* curves the edges of the button */
	text-transform:uppercase;
}
.btn-primary {
	background-color: #E05F44;
	border-color: #E05F44;
	padding: 1rem 2rem;		/* increases the size of the button */
}
.btn-primary:hover{ 
	background-color: #ee4b08;
	border-color: #ee4b08;
	border-width:2px;	
}
.buffer1{
	height: 1rem;
}
.buffer2 {
	 /* height:150px; */
	 height: 22rem;
}
.buffer3 {
	height:4rem;
}